<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="benjali_project_root" name="Business Consulting"></menuitem>





        <menuitem id="menu_project_action_one" name="Project Management" parent="benjali_project_root"
    action="business_project_action" sequence="1"/>

    <menuitem id="menu_project_stage_one" name="Project Stages"
              parent="benjali_project_root" action="action_project_stage_one" sequence="3" ></menuitem>

    <menuitem id="menu_project_approval_action_one" name="Project Approval" parent="benjali_project_root"
    action="business_project_approval_action" sequence="2"/>


</odoo>